body {
    background-color: hwb(115 7% 66%);
    background-image: url('images/background.webp');
    background-size: cover;
}

#title {
    font-style: oblique;
    font-size: 35px;
    color: rgb(175, 165, 26);
    align-self: center;
}

.titles {
    text-align: center;
}

body #header{
    background-image: url('images/wrapper.jpg');
}

#header {
    display: flex;
    padding: 10px;
}

.description {
    text-align: center;
}

.requirements {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

.survey-button {
    text-align: center;
}

.goto-survey {
    color: rgb(151, 158, 12);
    background-color: rgb(32, 90, 20);
    padding: 2%;
    border-radius: 50px;
    border: 3px solid rgb(0, 0, 0);
}

.goto-survey:hover {
    color: gold;
    border-color: #01ff23;
    background: #3700ff;
}